body {
    height: 100%;
    background-color: #282828;
    padding: 0px;
    margin: 0px;
}

#header {
    width: 71.2%;
    min-width: 1400px;
    max-width: 1360px;
    height: 650px;
    margin: auto;
    background-color: #8b7900;
}

.logo-manual {
    position: relative;
}

.switch-menu {
    font-size: 35px;
    position: absolute;
    right: 100px;
    top: 60px;
    background-color: #ffde00;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.switch-menu:hover {
    background-color: #ebcb00;
}

.switch-menu::before {
    content: "\2630";
    position: relative;
    left: 9px;
    bottom: 1px;
}

.logo {
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    position: absolute;
    left: 110px;
    top: 30px;
    color: #ffde00;
}

.header-text {
    width: 650px;
    color: white;
    position: relative;
    top: 275px;
    left: 110px;
    text-transform: uppercase;
    font-family: 'Merriweather Sans', sans-serif;
}

.header-text-logo {
    width: 850px;
    color: #aaa47c;
    font-size: 18px;
    position: relative;
    top: 270px;
    left: 110px;
}

.button-header {
    color: white;
    position: relative;
    top: 310px;
    left: 109px;
    padding: 15px;
    width: 180px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    background: transparent;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
}

.button-header:hover {
    background-color: #7c6700;
}

.button-header:active {
    background: linear-gradient(#796905);
    box-shadow: 0 0 1px #443a01 inset, 0 2px 3px #3f3700 inset, 0 1px 1px #3f3600;
    background-color: #665a0c;
}

.switch-logo a {
    position: relative;
    top: 370px;
    left: 620px;
    display: inline-block;
    width: 40px;
    height: 10px;
    margin: 2px;
    border: 1px solid #a7a7a7;
    cursor: pointer;
}

.switch-logo a:hover {
    background-color: #ffde00;
    border: 1px solid #ffde00;
}

#content {
    width: 71.2%;
    min-width: 1400px;
    max-width: 1360px;
    height: 1250px;
    margin: auto;
    background-color: white;
}

.computer {
    position: relative;
    left: 190px;
    top: 30px;
}

.content-notebook {
    width: 400px;
    position: relative;
    left: 190px;
    top: 30px;
    border-radius: 8px;
    border-top: 300px solid grey;
    border-left: 100px solid grey;
    border-right: 100px solid grey;
}

.content-notebook-inside {
    width: 405px;
    position: relative;
    left: 202px;
    bottom: 250px;
    border-top: 250px solid #d4f5f3;
    border-left: 85px solid #d4f5f3;
    border-right: 85px solid #d4f5f3;
}

.content-notebook-bottom {
    width: 601px;
    position: relative;
    left: 190px;
    bottom: 240px;
    border-radius: 0px 0px 8px 8px;
    border-bottom: 20px solid #dad7d7;
    background: linear-gradient(to right, white, black)
}

.content-notebook-mark:before {
    content: "\262D";
    position: relative;
    left: 484px;
    bottom: 268px;
    font-size: 26px;
}

.content-notebook-leg {
    width: 60px;
    position: relative;
    bottom: 274.6px;
    left: 442px;
    border-bottom: 50px solid #7c7c7c;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.content-notebook-stand {
    width: 175px;
    position: relative;
    left: 403px;
    bottom: 275px;
    border-bottom: 8px solid #999999;
}

.content-title-text {
    position: relative;
}

.content-title {
    position: absolute;
    left: 552px;
    bottom: 62px;
    color: #646464;
    font-family: 'Josefin Slab', serif;
}

.content-text {
    position: absolute;
    width: 860px;
    left: 260px;
    bottom: -20px;
    font-size: 18px;
    color: #767676;
}

.special-symbols {
    position: relative;
    top: 314px;
    font-size: 50px;
}

.symbols_1 {
    position: absolute;
    bottom: 22px;
    left: 250px;
    width: 90px;
    height: 80px;
    text-align: center;
    border: 1px solid #252525;
}

.symbols_2 {
    position: absolute;
    left: 800px;
    bottom: 22px;
    width: 90px;
    height: 80px;
    text-align: center;
    border: 1px solid #252525;
}

.symbols_3 {
    position: absolute;
    left: 250px;
    top: 3px;
    width: 90px;
    height: 80px;
    text-align: center;
    border: 1px solid #252525;
}

.symbols_4 {
    position: absolute;
    left: 800px;
    top: 1px;
    width: 90px;
    height: 80px;
    text-align: center;
    border: 1px solid #252525;
}

.symbols_1:hover,
.symbols_2:hover,
.symbols_3:hover,
.symbols_4:hover {
    background-color: #ffde00;
    border: 1px solid #ffde00;
    cursor: pointer;
}

.special-symbols-text {
    position: relative;
    top: 500px;
}

.special-title_1,
.special-title_2,
.special-title_3,
.special-title_4,
.special-text_1,
.special-text_2,
.special-text_3,
.special-text_4 {
    position: absolute;
    color: #686868;
}

.special-text_1,
.special-text_2,
.special-text_3,
.special-text_4 {
    width: 290px;
}

.special-title_1,
.special-title_2,
.special-title_3,
.special-title_4 {
    color: #1f1f1f;
    font-size: 25px;
}

.special-title_1 {
    left: 360px;
    bottom: 254px;
    width: 230px;
}

.special-title_1:hover {
    color: #ffde00;
}

.special-title_2 {
    left: 910px;
    bottom: 254px;
    width: 230px;
}

.special-title_2:hover {
    color: #ffde00;
}

.special-title_3 {
    left: 360px;
    bottom: 147px;
    width: 240px;
}

.special-title_3:hover {
    color: #ffde00;
}

.special-title_4 {
    left: 910px;
    bottom: 148px;
    width: 275px;
}

.special-title_4:hover {
    color: #ffde00;
}

.special-text_1 {
    bottom: 192px;
    left: 363px;
}

.special-text_2 {
    bottom: 196px;
    right: 197px;
}

.special-text_3 {
    bottom: 85px;
    left: 360px;
}

.special-text_4 {
    bottom: 88px;
    right: 198px;
}

#content_2 {
    width: 71.2%;
    min-width: 1400px;
    max-width: 1360px;
    height: 450px;
    margin: auto;
    background-color: #252525;
}

.content-heart {
    position: relative;
}

.content-heart::before {
    position: absolute;
    right: 650px;
    content: "\2661";
    color: #ffde00;
    font-size: 130px;
}

.content-text_and_title {
    position: relative;
}

.content-title_1 {
    position: absolute;
    top: 160px;
    left: 570px;
    color: #898989;
    font-family: 'Josefin Slab', serif;
}

.content-text_1 {
    position: absolute;
    color: #898989;
    top: 220px;
    left: 250px;
    width: 860px;
    font-size: 18px;
}

#content_3 {
    width: 71.2%;
    min-width: 1400px;
    max-width: 1360px;
    height: 250px;
    margin: auto;
    background-color: white;
}

.content-sections {
    display: inline-block;
    position: relative;
    top: 130px;
    left: 90px;
    color: #8b8b8b;
    margin: 20px;
    cursor: pointer;
}

.content-sections a {
    padding: 10px;
}

.content-sections a:hover {
    border: 1px solid #ffde00;
}

#content_4 {
    width: 71.2%;
    min-width: 1400px;
    max-width: 1360px;
    height: 550px;
    margin: auto;
    background: repeating-linear-gradient(45deg, #878260, #878260 3px, #c4b96b 0, #c4b96b 11px);
}

.content-project-title {
    position: relative;
}

.content-box {
    position: absolute;
    top: 300px;
    left: 720px;
    width: 300px;
    height: 250px;
    background-color: #f5d710;
}

.title-project {
    position: absolute;
    left: 30px;
    top: 45px;
    color: #575757;
    font-size: 18px;
}

.text-project {
    width: 260px;
    position: absolute;
    top: 75px;
    left: 30px;
    color: #575757;
    font-size: 17px;
}

.project-add::before {
    position: absolute;
    top: 165px;
    left: 27px;
    content: "\002B";
    font-size: 55px;
    color: #453d05;
    cursor: pointer;
}

.project-add:hover::before {
    color: #c5b14b;
}

#footer {
    width: 71.2%;
    min-width: 1400px;
    max-width: 1360px;
    height: 1050px;
    margin: auto;
    background-color: white;
}

.footer-box {
    position: relative;
}

.footer-rocket::before {
    position: absolute;
    left: 640px;
    top: 100px;
    content: "\1F680";
    color: #ffde00;
    font-size: 80px;
}

.footer-title {
    position: absolute;
    left: 570px;
    top: 210px;
    font-size: 25px;
    color: #909090;
}

.footer-text {
    width: 740px;
    position: absolute;
    left: 300px;
    top: 280px;
    color: #989898;
}

#input_name,
#input_email,
#input_subject {
    position: relative;
    padding: 15px;
    left: 315px;
    top: 410px;
    margin: 15px;
}

#input_comment {
    width: 647px;
    height: 110px;
    padding: 15px;
    position: absolute;
    top: 500px;
    right: 393px;
    font-size: 15px;
    resize: none;
}

.footer-button {
    position: absolute;
    top: 660px;
    left: 540px;
    padding: 15px;
    width: 250px;
    font-size: 17px;
    background: #ffde00;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer-button:hover {
    background-color: #f5de4d;
}
